<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Denemelerfalan.Properties.Settings.WordMemorizeConnectionString"
            connectionString="Data Source=DESKTOP-KA1TM07\SQLEXPRESS;Initial Catalog=WordMemorize;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>